.button-frame{
    border: 1px solid rgb(102, 102, 194);
    padding: 15px;
    color: rgb(102, 102, 194);
    /*width: 60px;*/
    cursor: pointer;
}
.button-frame:active{
    border: 1px solid rgb(80, 229, 120);
    padding: 15px;
    color: rgb(80, 229, 120);
}
.button-frame span{
    text-wrap: nowrap;
}