.card-article_container {
    width: 80%;
    height: 300px;
    display: flex;
    justify-content: center;
    margin-bottom: 10px;
    color: black;
}


.card-article_image {
    width: 30%;
    height: 100%;
    /*background-repeat: no-repeat;*/
    background-size: cover;
    background-position: center;
    color: rgb(208, 201, 201);
}


.card-article_image__text-data {
    font-size: 20px;
    color: rgb(255, 255, 255);
    text-align: left;
    padding: 30px 20px 20px 30px;
    opacity: 0;
    width: 100%;
    height: 84%;
    transition: .5s;
}



.card-article_container:hover .card-article_image__text-data {
    opacity: 1;
    transition: .5s;
    backdrop-filter: blur(3px);
}


.card-article_discription {
    position: relative;
    width: 70%;
    background-color: azure;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.card-article_discription::before{
    content: '';
    position: absolute;
    left: -20px;
    display: block;
    transform: skew(-6deg, 0deg);
    height: 100%;
    width: 40px;
    background-color: azure;
}
.card-article_title {
    font-size: 27px;
    color: rgb(0, 0, 0);
    text-align: left;
    padding: 30px 20px 20px 30px;
}
.card-article_text-dist {
    font-size: 20px;
    color: rgb(0, 0, 0);
    text-align: left;
    padding: 30px 20px 20px 30px;
}
.card-article_title-more {
    font-size: 30px;
    color: rgb(52, 122, 212);
    text-align: left;
    padding: 30px 20px 20px 30px;
    width: 150px;
}