.header-wrapper{}
.header-news-info-title{
   
    text-align: left;
    padding: 15px;
}

.header-banner{
    /*width: 100%;*/
    background-color: rgb(89, 89, 89);
    color: white;
    font-size: 40px;
    padding: 15px;
    text-align: center;
}
.home-link{
    color: white;
    font-size: 40px;
    text-decoration: none;
}